.table {
  width: 100%;
  margin-top: 10px;
}

.title {
  font-size: 24px;
  text-transform: capitalize;
}

.th {
  background: rgba(0, 0, 0, 0.05);
  width: 50%;
}

.td {
  background: rgba(0, 0, 0, 0.02);
  text-align: center;
}

.btn {
  font-size: 18px;
  line-height: 1;
  font-weight: 600;
  background-color: #2acafc;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 10px 45px;
  cursor: pointer;
  transition: background-color 0.1s ease-in;
}

.btn:hover {
  background-color: #23a2c8;
}
