.close {
  margin-left: auto;
  display: block;
  border: none;
  background: none;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}

.label {
  font-size: 18px;
  font-weight: 600;
}

.input {
  display: block;
  font-size: 18px;
  margin-top: 15px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}
